/* Google Font Use==> poppins */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset/Common Css Style Start=====> */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:  none;
    text-decoration: none;
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    
}



:root{
    --whie-color: #ffff;
    --black-color: #000000;
    --background-color: #dde1e7;
    --box-shadow: -3px -3px 7px #ffffff73,
                    2px 2px 5px rgba(94, 104, 121, 0.288);
    --button-box-shadow:  2px 2px 5px #babecc,
                    -5px -5px 10px #ffffff73;
    --btnfocus-box-shadow: inset 2px 2px 5px #babecc,
                            inset -5px -5px 10px #ffffff73;
    --secondary-background-color:  #DC3545;
}
/* Side Scrool Track Design */

body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: bold;
    scrollbar-color: var(--background-color);
  }
  body::-webkit-scrollbar-track {
    background:var(--background-color);
    box-shadow: var(--box-shadow);
  }
  body::-webkit-scrollbar-thumb {
    background-color:var(--secondary-background-color);
    border-radius: 6px;
    /* box-shadow:  var(--btnfocus-box-shadow) */
  }
  
body{
    background-color: var(--background-color);
}
/* Header Desgin====> */
.ne-effect{
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);

}
.icons{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 30px;
    background-color: var(--background-color);
    padding: 8px;
    text-align: center;
    box-shadow: var(--box-shadow);
    cursor: pointer;

}
.icons:hover{
    box-shadow: var(--btnfocus-box-shadow);
    transition: 0.6s;
}
.social-icon{
    text-decoration: none;
    color: var(--black-color);
}
.btns{
    padding: 10px 20px;
    border: none;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    transition: 0.4s;
}
.btns:hover{
    box-shadow: var(--btnfocus-box-shadow);
    transition: 0.6s;
}
.navbar-toggler{
    border: none !important;
    color: var(--black-color);
    outline: none;
}
.navbar-toggler:focus{
    outline: none !important;
    text-decoration: none;
    border: none !important;
}
.prev-icons {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 1.875rem;
    width: 2.188rem;
    height: 2.188rem;
    color: black;
    margin-left: -5rem;
}
.prev-icons:hover {
    background-color: var(--background-color);
    box-shadow: var(--btnfocus-box-shadow);
}
.nex-icons {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 1.875rem;
    width: 2.188rem;
    height: 2.188rem;
    color: black;
    margin-left: 5rem;
}
.nex-icons:hover {
    background-color: var(--background-color);
    box-shadow: var(--btnfocus-box-shadow);
}
.carousel-control-prev{
    background-color: none;
}
.heading-text{
    font-size: 3.125rem;
    text-transform: uppercase;
    font-weight: 700;
}
.note{
    font-family: 'Aquarius';
}
.slider-area{
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-height: 100%;
}
.slider-details{
    padding: 15vh 0vh;
}

/* Header Desgin End====> */

/* Action Area===> */
input {
    padding: 8px 12px;
    width: 160px;
    max-width: 100%;
    border: none;
    background-color: rgb(196, 187, 187);
    border-radius: 30px;
    box-shadow: var(--btnfocus-box-shadow);
}
input:focus{
    box-shadow: var(--btnfocus-box-shadow);
}
.list-group-item {
    background-color: var(--background-color);
    position: relative;
    display: block;
    padding: none;
    color: var(--black-color);
    text-decoration: none;
    border: 1px solid whitesmoke;
    cursor: pointer;
}
.list-group-item:hover {
box-shadow: var(--btnfocus-box-shadow);
}
.fixed { 
    height: 56.875rem;
}
.scrollit { 
    height:43.75rem; overflow-y:scroll;
    max-height: 100%;
}


scrollit::-webkit-scrollbar-track {
    background-color:;
    box-shadow: var(--btnfocus-box-shadow);
    height: 0.313rem;
  }
  
  .scrollit::-webkit-scrollbar {
    width:0.5rem;
  }
  
  .scrollit::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
    background-color: var(--secondary-background-color);
  }
  
/* Action Area End===> */   
/* Footer Area ===> */
.about-area{
    width: 250px;
    font-size: 16px;
    text-align: justify;
}   
.about-area p{
    font-size: 14px;
}  
/* Action Area End===> */   


/* Only For Extra Small Device */
@media only screen and (max-width: 557px) {
    .brand {
      width: 80%;
    }
    .about-area{
       text-align: center;
    }
    .foooter-logo {
        padding-left: 3rem;
        padding-bottom: 0rem;
    }
    .footer-cup ,.cup{
        margin-top: 0rem !important;
    }
    .slider-area{
        flex-direction: column-reverse!important;
    }
    .slider-image {
        margin: 0rem !important;
        padding-top: 2rem !important;
    }
    .costing-area-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input {
        padding: 8px 12px;
        width: 200px;
        max-width: 100%;

    }
    .heading-text {
        font-size: 2.125rem;
    }
    .slider-details {
        padding-left: 0.825rem !important;
    }
  }
  /* Only For Extra Small Device */
@media only screen and (max-width: 999px) {
    .fixed {
        height: 100%;
    }
    .slider-details {
        padding: 4vh 0vh;
    }
    .card-title{
        font-size: 15px;
    }
    .scrollit {
        height: 54.75rem;
        max-width: 100%;
        overflow-y: scroll;
    }
    .slider-area{
        flex-direction: column-reverse!important;
    }

  }